:root {
    --font: 10px;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 218, 218);
    height: 100vh;
    justify-content: center;
}

#display {
    padding: 0.5em;
    width:  90vw;
    height: 95vh;
    align-self: center;
    background-color: rgba(152,163,133,255);
    display: flex;
    flex-direction: column;
    font-size: calc(var(--font)* 3 );
    font-family: calculator;
    box-shadow: inset 0 0 10px rgb(46, 46, 46);
}

#calculatorArea {
    display: flex;
    flex-direction: column;
}

#calculatorInput {
    background-color: rgba(152,163,133,255);
    font-size: calc(var(--font)* 3 );
    font-family: calculator;
    height: 8vh;
    border: 1px black dotted;
}

#calculateButton{
    margin-top: 10vh;
    width: 20vw;
    align-self: center;
    padding: 1em 1em 2em 1em;
    border-radius: 1rem 1rem 3rem 3rem;
    transition: background-color 0.5s;
    background-color: rgb(251, 240, 227);
    font-family: calculator;
    font-size: calc(var(--font)* 2 );
    text-align: center;
    display: flex;
    justify-content: center;
}

#calculateButton:hover, #switch:hover, #graphButton:hover {
    cursor: pointer;
    background-color: rgb(218, 207, 196);
}

#switch {
    position: absolute;
    left: 85vw;
    top: 90vh;
    width: 10vw;
    padding: 1em 1em 2em 1em;
    border-radius: 1rem 1rem 3rem 3rem;
    transition: background-color 0.5s;
    background-color: rgb(251, 240, 227);
    font-family: calculator;
    font-size: calc(var(--font)* 2 );
    text-align: center;
    display: flex;
    justify-content: center;
    max-height: 7vh;
}

#history {
    height: 40vh;
    overflow-y: scroll;
    border: 1px black dotted;
}

#graph {
    max-width: 90%;
}

#graphArea {
    display: none;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 90vw;
    justify-content: space-between;
}

#graphButton {
    padding: 1em 1em 2em 1em;
    border-radius: 1rem 1rem 3rem 3rem;
    transition: background-color 0.5s;
    background-color: rgb(251, 240, 227);
    font-family: calculator;
    font-size: calc(var(--font)* 2 );
    text-align: center;
    display: flex;
    justify-content: center;
    max-height: 7vh
}

#graphOptions {
    display: flex;
}

#functionInputs {
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
}

@font-face {
    font-family: calculator;
    src: url(/fonts/digital-7.ttf) format(opentype);
}